.activity {
  width: 25%;
  padding: 20px;
  background: var(--darkBlack);
}

.activity__title {
  margin-bottom: 15px;
}

.activity__item {
  background: var(--lightBlack);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.activity__text {
  font-size: 14px;
  margin-bottom: 5px;
}

.activity__button {
  background: var(--themeYellow);
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}